body
{
  background: #1e1f24;
  color: #333;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#header
{
  background: white;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

#logo
{
  width: 240px;
  vertical-align: middle;
}

#tagline
{
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}

#container
{
  background: gray;
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #DDD;
  margin: 0 auto;
}

h1
{
  font-size: 20px;
}

#post
{
  background: #64656A;
  padding: 1em;
}

#footer
{
  background: #777;
  color: white;
  text-align: right;
  padding: 0.5em;
}
